#bimg {
  border: 1px black solid;
  height: 25vh;
  background-image: url(/image/br.jpg);
  border-radius: 20px;
}
#hederbar {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  background-color: #aab6fe;
  align-items: center;
}
#hederbar > ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
#mainPo {
  background-color: skyblue;
  height: 80vh;
}
#mainText {
  height: 30vh;
}
.navbar {
  list-style: none;
  display: flex;
  border: 1px solid black;
  margin: 0;
  justify-content: space-around;
  padding-left: 0;
  background: #ffffee;
}
.navbar > li {
  padding: 16px 24px;
}
.headerme > li {
  padding: 8px 16px;
}
.headerme {
  position: relative;
  padding-left: 0;
}
.heder_logo {
  font-size: 60px;
  padding-left: 20px;
}
#searrank {
  height: 10vh;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
}
#mainfoo {
  border: 1px solid black;
}
#mainText {
  border: 1px black solid;
}
body {
  margin: 0;
}
html {
  display: block;
}
#mainfoo {
  height: 25vh;
}
#search_b {
  margin-left: 0;
}
#bookser {
  margin-top: 30px;
}
.rank {
  margin-top: 30px;
}
